# created by virtualenv automatically

#python bytecode
*.py[cod]
__pycache__/
*.so

#Django stuff
*.log
db.sqlite3-journal
/media
/staticfiles

#Virtual environment
venv/
env/
.venv

#IDE files
.vscode
.idea/
*.swp

#Environment variables
.env

# OS files
.DS_Store
